@model NoteModel
@{ ViewData["Title"] = "CreateNote"; }


<div class="col-md-10 mt-2">
    <p>Create a note</p>
    <form asp-controller="Home" asp-action="CreateNote" method="post">
        <div class="form-group row">
            <div class="col-md-10">

                <input name="Note" required=true class="form-control" />
                @Html.ValidationMessageFor(x => x.Note, "This field cannot be empty", new { @style = "color:red" })
            </div>
        </div>

        <div class="form-group">

            <button type="submit" class="btn btn-success">Create</button>

        </div>

    </form>

</div>
