@model Crud.Entities.Notes
@{ Layout = "/Views/Shared/_Layout.cshtml"; }



<div class="col-md-10 mt-2">
    <p>Update Note</p>
    <hr />
    <form action="/Home/Update" method="post">

        <div class="form group row">
            <div class="col-md-6">
                <input name="ID" id="ID" value="@Model.ID" readonly=true class="form-control" />
                <input name="Note" id="Note" required=true value="@Model.Note" class="form-control mt-1" />
                @Html.ValidationMessageFor(x => x.Note, "This field cannot be empty", new { @style = "color:red" })
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-1">Save Note</button>
        </div>

    </form>


</div>